@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .btn {
    @apply px-2 py-2 bg-gray-800 rounded-xl uppercase disabled:bg-gray-500 disabled:text-gray-600 text-gray-300
    font-semibold transition ease-in-out duration-500 shadow-lg hover:shadow-sm hover:text-gray-50
  }
  .btn_cncl {
    @apply px-2 py-2 bg-red-600 border border-red-500 rounded-xl uppercase
      text-gray-200 cursor-pointer block font-semibold hover:bg-red-900 transition ease-in-out duration-500
  }
  .inpt {
    @apply px-4 py-2 bg-gray-800 border border-gray-700 rounded-xl text-gray-300
  }
  .titulo{
    @apply text-2xl font-bold uppercase
  }
  .ttlbig{
    @apply md:text-6xl text-3xl font-black capitalize
  }
}

body {
  @apply bg-gray-300 text-gray-950     
}
